
html {
    scroll-behavior: smooth;

}
  
.bg-dark {
    
    background-color: #04204e !important;
}

.bg-dark.scrolled {
    background: linear-gradient(#020024, #090979, #fff);
 
}

.navbar-brand {
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
}

.navbar-dark .navbar-nav .nav-item {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
   
}
.navbar-dark .navbar-nav .nav-item {
    margin: 0 15px;
   
}
.carousel-capton h5{
    font-size: 28px;
}

/* ABOUT US STYLE    */

.aboutUs {
padding: 55px 0;
text-align: center;
background-color: #04204a1a;
/* background-color:purple; */
}

.aboutUs h5{
    font-style: 45px;
    margin-bottom: 55px;
    color: #04204a;
}

.aboutUs p {
    font-size: 18px;
    color:  #04204a;
}

/* services */

.services {
    padding: 55px 0;
    text-align: center;
    background-color: #04204a !important;
}

.services h1 {
    font-size: 45px;
    margin-bottom: 55px;
    color: #fff;
}

.services .card {
    border: 1px solid #0062cc;
}

.services .card-body {
    padding: 1.25rem .9rem;
    background-color: #061a37;
}

.services .card-body .card-title {
    color: #fff;
    font-weight: 700;
}

.services .card-body .card-text {
    color: #fff;
  
}

.sevices .btn-primary {
    color: #fff;
    background-color: #04204a;
    border-color: #0062cc;
}

.services .btn-primary:hover {
    color: #fff;
    background-color: #0062cc;
    border-color: #0062cc;
}




.gallery {
    padding: 55px 0;
    text-align: center;
    background-color: #04204a1a;
}

#gal {
    background-color: #04204a1a !important;
}

/* footer */

.footer {
    padding: 55px 0 25px;
    background-color: #04204a;
}

.footer h5 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff30;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    line-height: 28px;
    font-weight: 600;
}

.footer ul li a {
    color: #ffffff80;
}

.footer ul li a:hover {
    color: #ffffff;
}

.footer p {
    color: #ffffff80;
    margin-bottom: 7px;
}

/* COPYRIGHT */
.copyright {
    height: 40px;
    background-color: #061a37;
    line-height: 40px;
}

.copyright p {
    margin-bottom: 0;
    color: #ffffff90;
    text-align: center;
}